In [ ]:
import pandas as pd
import requests

In [150]:
params = {
  'api_token': 'v4e5qEOulw9UJn3WZWA1lvLV9py2R4hxtOHHrK8n',
    'symbols': 'NFLX',
    'date_from':'2021-10-22',
    'date_to': '2022-04-29',
    'interval': 'hour',
    'language': 'en'
}

api_result = requests.get('https://api.stockdata.org/v1/data/intraday?', params)

api_response = api_result.json()

df = pd.json_normalize(api_response['data'])

df

,date,ticker,data.open,data.high,data.low,data.close,data.volume,data.is_extended_hours
0,2022-04-20T16:00:00.000Z,NFLX,225.99,226.05,225.99,225.99,108,False
1,2022-04-20T15:00:00.000Z,NFLX,220.14,227.12,220.00,226.02,387204,False
2,2022-04-20T14:00:00.000Z,NFLX,223.00,223.50,219.00,220.13,305818,False
3,2022-04-20T13:00:00.000Z,NFLX,224.48,228.41,222.42,223.18,166030,False
4,2022-04-20T12:00:00.000Z,NFLX,219.24,224.98,218.13,224.34,261451,False
...,...,...,...,...,...,...,...,...
888,2021-10-22T13:00:00.000Z,NFLX,660.39,662.39,659.40,659.44,15925,False
889,2021-10-22T12:00:00.000Z,NFLX,657.48,662.19,656.55,660.33,20190,False
890,2021-10-22T11:00:00.000Z,NFLX,656.56,657.74,652.82,657.47,23698,False
891,2021-10-22T10:00:00.000Z,NFLX,658.64,661.59,655.51,656.88,29394,False
892,2021-10-22T09:00:00.000Z,NFLX,651.95,661.38,651.95,658.46,65619,False

In [166]:
symbols = ['TSLA', 'AAPL', 'AMZN', 'GOOG','NFLX', 'FB']
periods = [['2020-04-29','2020-10-26'],
          ['2020-10-27','2021-04-23'],
          ['2021-04-24','2021-10-21'],
          ['2021-10-22','2022-04-20'],
          ['2022-04-21','2022-04-29']]
for symbol in symbols:
    df_list = []
    for period in periods:
        params = {
            'api_token': 'v4e5qEOulw9UJn3WZWA1lvLV9py2R4hxtOHHrK8n',
            'symbols': symbol,
            'date_from': period[0],
            'date_to': period[1],
            'interval': 'hour',
            'language': 'en'
        }

        api_result = requests.get('https://api.stockdata.org/v1/data/intraday?', params)

        api_response = api_result.json()

        df = pd.json_normalize(api_response['data'])
        
        df_list.insert(0,df)
    df_all = pd.concat(df_list, ignore_index=True)
    df_all.to_csv('./data/hourly/{}.csv'.format(symbol), encoding='utf-8')